</body>
</html>
</div> <!-- /.g-content -->
<footer>
	Подвал
</footer>
</div> <!-- /.g-wrapper -->

<!-- SECTION ################################################################################# -->
<!-- END SECTION ############################################################################# -->