// **************************
// GRID start
// Переопределяем переменные из ../libs/bootstrap-4.3.1/scss/_variables.scss
$grid-columns: 12; // Кол-во колонок
$grid-gutter-width: 24px; // Ширина межколоночника
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px); // Медиа брейкпоинты
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px); // Ширина контейнера
// GRID end
// **************************


// IMPORTS
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
// @import '../libs/folder/filename.scss';


// COLORS
$color_primary-lihgtest:#FFF1CC;
$color_primary-lighter:#FFD566;
$color_primary-lihgt:#FFC733;
$color_primary-base:#FFB901;
$color_primary-dark:#E6A701;
$color_primary-darker:#B38201;
$color_primary-darkest:#805D01;

$color_secondary-lihgtest:#C9B8E7;
$color_secondary-lighter:#A588D7;
$color_secondary-lihgt:#8058C6;
$color_secondary-base:#4A11AE;
$color_secondary-dark:#3B0E8B;
$color_secondary-darker:#2C0A68;
$color_secondary-darkest:#1E0746;

$color_gray-lihgtest:#FCFCFC;
$color_gray-lighter:#F4F1F8;
$color_gray-lihgt:#ECE9F0;
$color_gray-base:#BDBBC0;
$color_gray-dark:#7F7E82;
$color_black:#1A1A1A;


// РАЗМЕР ШРИФТА
$text_h1:36px;
$text_h2:24px;
$text_h3:20px;
$text_body:16px;
$text_sm: 12px;
$text_xs: 12px;


// РАЗМЕР МЕЖСТРОЧНОГО ИНТЕРВАЛА
$lh_h1: 48px;
$lh_h2: 36px;
$lh_h3: 24px;
$lh_body:24px;
$lh_xs: 24px;
$lh_sm: 24px;


// Тени (x y blur)
$shadow-light_x1: 0px 2px 4px rgba(153, 152, 153, 0.2);
$shadow-light_x2: 0px 4px 8px rgba(153, 152, 153, 0.4);
$shadow-light_x3: 0px 6px 12px rgba(153, 152, 153, 0.4);
$shadow-light_x4: 0px 8px 16px rgba(153, 152, 153, 0.4);
$shadow-light_x5: 0px 12px 18px rgba(153, 152, 153, 0.4);

$shadow-dark_x1: 0px 2px 4px rgba(0, 0, 0, 0.2);
$shadow-dark_x2: 0px 4px 8px rgba(0, 0, 0, 0.4);
$shadow-dark_x3: 0px 6px 12px rgba(0, 0, 0, 0.4);
$shadow-dark_x4: 0px 8px 16px rgba(0, 0, 0, 0.4);
$shadow-dark_x5: 0px 12px 18px rgba(0, 0, 0, 0.4);


// Радиус скругления - 4 6 8 12
$radius: 12px;


// FONTS
@mixin font($fname, $fstyle, $fweight, $furl){
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
	}
}

@include font('roboto-oh5', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('roboto-oh5', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('roboto-oh5', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('roboto-oh5', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');

$font_h:'roboto-oh5', sans_serif; // Шрифт для заголовков
$font_body:'roboto-oh5', sans_serif; // Шрифт для основного текста